
.DS_Store
.Rproj.user/B38BD33B/pcs/files-pane.pper
.Rproj.user/B38BD33B/pcs/source-pane.pper
.Rproj.user/B38BD33B/pcs/windowlayoutstate.pper
*.pper
.Rproj.user/B38BD33B/sources/prop/2AC04AEA
.Rproj.user/B38BD33B/sources/prop/INDEX
.Rproj.user/B38BD33B/sources/session-574a9493/C67F55D0
.Rproj.user/B38BD33B/sources/session-574a9493/C67F55D0-contents
.Rproj.user/B38BD33B/sources/session-574a9493/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/B38BD33B/rmd-outputs
.Rproj.user/B38BD33B/saved_source_markers
.Rproj.user/shared/notebooks/paths
.Rproj.user/B38BD33B/sources/prop/00D0EF40
.Rproj.user/B38BD33B/sources/prop/2D4A0E3F
.Rproj.user/B38BD33B/sources/prop/83659521
.Rproj.user/B38BD33B/sources/prop/8CED254F
.Rproj.user/B38BD33B/sources/prop/92D56D41
.Rproj.user/B38BD33B/sources/prop/9FCFB9FC
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/1F438DBE-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/2D936CEA-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/2E9593F7-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/38EEADFF
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/38EEADFF-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/6412E3ED
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/6412E3ED-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/9B6F5CE7
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/9B6F5CE7-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/BB5B35B7-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/CDC007B4
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/CDC007B4-contents
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/lock_file
.Rproj.user/shared/notebooks/E1803DF9-Question-1-Covid/1/B38BD33B6ab5ac4c/chunks.json
.Rproj.user/shared/notebooks/E1803DF9-Question-1-Covid/1/s/chunks.json
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/C235CF0C
.Rproj.user/B38BD33B/sources/session-6ab5ac4c/C235CF0C-contents
