
.DS_Store
.Rproj.user/B38BD33B/pcs/files-pane.pper
.Rproj.user/B38BD33B/pcs/source-pane.pper
.Rproj.user/B38BD33B/pcs/windowlayoutstate.pper
*.pper
.Rproj.user/B38BD33B/sources/prop/2AC04AEA
.Rproj.user/B38BD33B/sources/prop/INDEX
.Rproj.user/B38BD33B/sources/session-574a9493/C67F55D0
.Rproj.user/B38BD33B/sources/session-574a9493/C67F55D0-contents
.Rproj.user/B38BD33B/sources/session-574a9493/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/B38BD33B/rmd-outputs
.Rproj.user/B38BD33B/saved_source_markers
.Rproj.user/shared/notebooks/paths
